.container {
  outline: red solid;
  max-width: 1344px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #1f0243;
}
.header__info {
  display: flex;
}
.header__list {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: auto;
}
.header__item {
  position: relative;
}
.header__item:hover .bottom-menu {
  opacity: 1;
}
.header__item:hover::after {
  opacity: 1;
}
.header__item::after {
  display: block;
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-color: #6a08e0;
  transition-property: opacity;
  transition-duration: 250ms;
  opacity: 0;
}
.header__logo {
  display: flex;
  width: 84px;
  height: 36px;
  padding: 6.844px 0 5.695px 0;
  justify-content: center;
  align-items: center;
}
.header__page {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5406b3;
  transition-property: color;
  transition-duration: 250ms;
}
.header__page:hover {
  color: #6a08e0;
}
.header__button {
  display: flex;
  padding: 8px 20px;
  justify-content: right;
  align-items: right;
  gap: 8px;
  border-radius: 12px;
  border-top: 1.5px solid #5406b3;
  border-right: 1.5px solid #5406b3;
  border-bottom: 4px solid #5406b3;
  border-left: 1.5px solid #5406b3;
  background: #6a08e0;
  color: #ffffff;
  margin-right: 64px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition-duration: 250ms;
  transition-property: all;
}
.header__button:hover {
  background-color: #5406b3;
  transform: scale(1.09, 1.09);
}

.menu {
  position: absolute;
  top: 43px;
  left: -40px;
  width: 150px;
  background-color: #6a08e0;
  border: #5406b3 solid;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
}
.hero {
  background: #1f0243;
  padding-top: 272.5px;
  padding-bottom: 272.5px;
  display: flex;
  height: 900px;
  padding: 64px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-image: linear-gradient(270deg, rgba(106, 90, 205, 0.4), rgba 78, 32, 124, 0.5), url("../../photo/image.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  align-self: stretch;
  color: #ffffff;
  max-width: 835px;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
}
.hero__text {
  max-width: 594px;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero__button-div {
  display: flex;
  gap: 16px;
}
.hero__button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border-top: 1.5px solid #5406b3;
  border-right: 1.5px solid #5406b3;
  border-bottom: 4px solid #5406b3;
  border-left: 1.5px solid #5406b3;
  background: #6a08e0;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  animation-name: scale-button;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.hero__button:hover {
  background-color: #5406b3;
  transform: scale(1.1, 1.1);
}
.hero__button2 {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1.5px solid rgba(255, 255, 255, 0.1);
  border-right: 1.5px solid rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid rgba(255, 255, 255, 0.1);
  border-left: 1.5px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  animation-name: scale-button;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.hero__button2:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.game {
  background: #1f0243;
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}
.game__dive {
  display: flex;
  padding-bottom: 56px;
  gap: 32px;
}
.game__title {
  width: 527px;
  flex-shrink: 0;
  color: #fff;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}
.game__text {
  flex: 1 0 0;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.game__list {
  display: flex;
  height: 350px;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.game__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #2a0359;
  transition-property: transform;
  transition-duration: 250ms;
}
.game__item__item:nth-child(2) {
  animation-name: puling-couples-card;
  animation-duration: 2500ms;
  animation-iteration-count: infitie;
}
.game__item__item:nth-child(1) {
  animation-name: puling-card;
  animation-duration: 2500ms;
  animation-iteration-count: infitie;
}
.game__item__item:nth-child(3) {
  animation-name: puling-card;
  animation-duration: 2500ms;
  animation-iteration-count: infitie;
}
.game__item__item:nth-child(4) {
  animation-name: puling-couples-card;
  animation-duration: 2500ms;
  animation-iteration-count: infitie;
}
.game__item__item:nth-child(5) {
  animation-name: puling-card;
  animation-duration: 2500ms;
  animation-iteration-count: infitie;
}
.game__item__subtitle {
  align-self: stretch;
  margin-left: 16px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.game__item__item-text {
  align-self: stretch;
  margin-left: 16px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.info {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: #1f0243;
  background-image: url(./photo/s.webp);
  background-repeat: no-repeat;
  background-position: right;
}
.info__title {
  align-self: stretch;
  color: #ffffff, #fff;
  text-align: center;
  padding-bottom: 16px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.48px;
}
.info__text {
  margin-bottom: 80px;
  color: #ffffff, #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.info__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
}
.info__item {
  position: relative;
  display: flex;
  height: 289px;
  min-width: 416px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #2a0359;
}
.info__item__item-text {
  align-self: stretch;
  color: #ffffff, #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.info__subtitle {
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.32px;
}
.info__icon {
  stroke: #FFF;
  fill: transparent;
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
}

.overlay {
  display: flex;
  top: 0;
  position: absolute;
  border: #2a0359 solid 7px;
  border-radius: 10px;
  opacity: 0;
  width: 416px;
  height: 289px;
  background-color: rgba(106, 90, 205, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  align-items: center;
  justify-content: center;
  transition-property: opacity;
  transition-duration: 250ms;
}
.overlay__link {
  color: #FFF;
  border: #5406b3 solid;
  border-radius: 5px;
  height: 40px;
  width: 160px;
  background-color: rgba(41, 3, 112, 0.7);
  font-size: 19px;
  font-weight: 50px;
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: 650ms;
}
.overlay:hover {
  opacity: 1;
}

.price {
  padding-top: 112px;
  background: #1f0243;
}
.price__title {
  align-self: stretch;
  margin-bottom: 24px;
  color: #ffffff, #fff;
  text-align: center;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}
.price__text {
  align-self: stretch;
  color: #ffffff, #fff;
  text-align: center;
  padding-bottom: 80px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.price__list {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.price__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.price__item {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #2a0359;
}
.price__item__text {
  color: #ffffff, #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.price__subtitle-h4 {
  align-self: stretch;
  color: #ffffff, #fff;
  text-align: center;
  padding-bottom: 8px;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.26px;
}
.price__subtitle-h3 {
  align-self: stretch;
  color: #ffffff, #fff;
  text-align: center;
  padding-bottom: 32px;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
}
.price__button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: #ffffff, #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 12px;
  border-top: 1.5px solid #5406b3;
  border-right: 1.5px solid #5406b3;
  border-bottom: 4px solid #5406b3;
  border-left: 1.5px solid #5406b3;
  background: #6a08e0;
  transition-property: background-color transform;
  transition-duration: 250ms;
}
.price__button:hover {
  background-color: #5406b3;
  transform: scale(1.1) translate(0px, -4px);
}
.price__check {
  width: 24px;
  height: 24px;
}

.text-and-check {
  display: flex;
  gap: 16px;
}

.booking {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: #1f0243;
}
.booking__container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.booking__content {
  min-width: 640px;
}
.booking__subtitle {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.booking__title {
  align-self: stretch;
  color: #fff;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.booking__p-text {
  align-self: stretch;
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.booking__l {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.booking__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  min-width: 640px;
}
.booking__form label {
  font-size: 0.95rem;
}
.booking__form__form button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border-top: 1.5px solid #5406b3, #5406b3;
  border-right: 1.5px solid #5406b3, #5406b3;
  border-bottom: 4px solid #5406b3, #5406b3;
  border-left: 1.5px solid #5406b3, #5406b3;
  background: #6a08e0, #6a08e0;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition-property: background-color transform;
  transition-duration: 250ms;
}
.booking__form__form button:hover {
  background-color: #5406b3;
  transform: scale(1.1);
}
.booking input[type=text], .booking input[type=email] {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.booking input::-moz-placeholder {
  color: #aaa;
}
.booking input::placeholder {
  color: #aaa;
}
.booking__in {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #1f0243, #1f0243;
}

.name {
  align-self: stretch;
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.name-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.email {
  align-self: stretch;
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.radio-group label {
  font-weight: normal;
}

.radio-list {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  flex-direction: column;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.galerry {
  padding-top: 112px;
  padding-bottom: 112px;
  background: var(--section-background-color, #1f0243);
}
.galerry__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}
.galerry__title {
  width: 675px;
  color: var(--text-color, #fff);
  text-align: center;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}
.galerry__text {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.galerry__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-height: 624px;
  flex-wrap: wrap;
}
.galerry .big {
  max-width: 624px;
  transition-property: transform;
  transition-duration: 250ms;
}
.galerry .big:hover {
  transform: scale(1.05);
}
.galerry__item {
  width: 296px;
  height: 296px;
  transition-property: transform;
  transition-duration: 250ms;
}
.galerry__item__item:hover {
  transform: scale(1.1);
}

.reviews {
  display: flex;
  padding-top: 112px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: var(--section-background-color, #1f0243);
}
.reviews__title {
  color: var(--text-color, #fff);
  text-align: center;
  margin-bottom: 24px;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}
.reviews__subtitle {
  color: var(--text-color, #fff);
  text-align: center;
  margin-bottom: 80px;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.reviews__list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.reviews__item {
  display: flex;
  max-width: 640px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  border: var(--Stroke-Border-Width, 1px) solid var(--Color-Scheme-1-Border, rgba(255, 255, 255, 0.2));
  background: var(--Color-Scheme-1-Foreground, #2a0359);
}
.reviews__text {
  color: var(--text-color, #fff);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.reviews__name {
  color: var(--text-color, #fff);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.stars {
  display: flex;
  width: 116px;
  height: 19px;
}
.stars__svg {
  width: 29px;
  height: 28px;
  fill: white;
  stroke: white;
}
.stars__svg:hover {
  fill: #5406b3;
}/*# sourceMappingURL=style.css.map */