


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora";
}





@keyframes scale-button {
0% {
transform: scale(1);
}

50% {
transform: scale(1.05);
}

100% {
transform: scale(1);
}
}








@keyframes puling-card {
   0% {transform: rotate(0deg) scale(1) }

  25% {transform: rotate(3deg) scale(1.01)}

  50% {transform: rotate(0deg) scale(1.01) }

  75% {transform: rotate(-3deg) scale(1.01)}

  100% {transform: rotate(0deg) scale(1) }
}

@keyframes puling-couples-card {
  0% {transform: rotate(0deg) scale(1) }

  25% {transform: rotate(-3deg) scale(1.01)}

  50% {transform: rotate(0deg) scale(1.01) }

  75% {transform: rotate(3deg) scale(1.01)}

  100% {transform: rotate(0deg) scale(1) }
}



























.box-info {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.reviews {
  display: flex;
  padding-top: 112px;

  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  background: var(--section-background-color, #1f0243);
}

.reviews-title {
  color: var(--text-color, #fff);
  text-align: center;
  margin-bottom: 24px;

  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}

.reviews-subtitle {
  color: var(--text-color, #fff);
  text-align: center;
  margin-bottom: 80px;

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.reviews-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.reviews-item {
  display: flex;
  max-width: 640px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  border: var(--Stroke-Border-Width, 1px) solid var(--Color-Scheme-1-Border, rgba(255, 255, 255, 0.2));
  background: var(--Color-Scheme-1-Foreground, #2a0359);
}

.reviews-text {
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.reviews-name {
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}


.star-list {
  display: flex;
  width: 116px;
  height: 19px;
}



.star-list-svg {
  width: 29px;
  height: 28px;
  fill: white;
  stroke: white;
}

.star-list-svg:hover {
  fill: #5406b3;
}

/* .stars-img {
  width: 116px;
  height: 19px;
} */

.footer {
  display: flex;
  padding: var(--Section-Padding-padding-section-medium, 80px) var(--Page-Padding-padding-global, 64px);
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: var(--section-background-color, #1f0243);
}

.logo-footer {
  display: flex;
  width: 84px;
  height: 36px;
  padding: 6.844px 0px 5.695px 0px;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: var(--text-color, #fff);
  margin-top: 32px;

  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.footer-address {
  color: var(--text-color, #fff);
  margin-bottom: 24px;

  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.footer-address:hover {
animation: colorChange 3s linear infinite;
}

@keyframes colorChange {
  0% { color: #ffffff; }
  50% { color: #49008d; }
  100% { color: #8d01ff; }
}

.footer-link {
  display: flex;
  flex-direction: column;
  color: var(--text-color, #fff);


  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.footer-sublist {
  margin-top: 32px;
  display: flex;
  gap: 12px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: white;
  transition-property: fill;
  transition-duration: 250ms;
}

.footer-icon:hover {
  fill: #6a08e0;
}

.right-footer {
  margin-left: auto;
}

.right-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;

}




.box-footer {
  display: flex;
}



.right-item {
  gap: 16px;
 transition-property: transform ;
  transition-duration: 250ms;
}

.right-item:hover {
  transform: scale(1.1);
}

.right-link {
  color: #fff;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
   transition-property: color ;
  transition-duration: 250ms;
}

.right-link:hover {
  color: #6a08e0;
}

.prava-text {
  margin-top: 32px;
  color: var(--text-color, #fff);


  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.prava {
  border-top: 1px solid white;

  text-align: center;
}


.backdrop {
  background-color: rgba(78, 32, 124, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  
   transition-property: opacity transform;
  transition-duration: 250ms;
}

.backdrop.is-hidden {
opacity: 0;

  pointer-events: none;
}

.model {
  width: 500px;
  height: 500px;
  background-color: rgb(130, 90, 205);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 11px;

 transition-property: transform ;
  transition-duration: 250ms;
}

.backdrop.is-hidden .model {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  padding-right: 10px;
  padding-top: 6px;
}

.model-exit-icon {
  width: 60px;
  height: 60px;
  fill: wheat;
}

.backdrop-form {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 90px;
  gap: 22px;
  justify-content: center;
  align-items: center;

}

.backdrop-form-name {
  background-color: rgba(109, 40, 236, 0.5);
  width: 300px;
  height: 55px;
  padding-left: 7px;
}

.backdrop-form-number {
  background-color: rgba(109, 40, 236, 0.3);
  width: 300px;
  height: 55px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 7px;

}


.backdrop-form-button {
  margin-top: 40px;
  width: 200px;
  height: 55px;
  font-size: 18px;
  font-style: normal;
  background-color: #5406b3;
  color: wheat;
  box-shadow: #5406b3 2px 2px 50px 2px;
  border-bottom: 4px solid var(--opacity-white-20);
  border-left: 1.50px solid var(--opacity-white-20);
  border-right: 1.50px solid var(--opacity-white-20);
  border-top: 1.50px solid var(--opacity-white-20);
  border-radius: 12px;
}

.backdrop-form-button:hover {
  background-color: rgb(90, 11, 238, 0);
}

.backdrop-text {
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;

}



.top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  width: 50px;
  height: 50px;
  border: #6a08e0 solid;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}