
.galerry {
  padding-top: 112px;
  padding-bottom: 112px;
  background: var(--section-background-color, #1f0243);


&__container {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}


&__title {
  width: 675px;
  color: var(--text-color, #fff);
  text-align: center;

  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}


&__text {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

&__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-height: 624px;
  flex-wrap: wrap;
  
}


.big {
  max-width: 624px;
  transition-property: transform;
  transition-duration: 250ms;

  &:hover {
  transform: scale(1.05);

}
}


&__item {
  width: 296px;
  height: 296px;
  transition-property: transform;
  transition-duration: 250ms;

  &__item:hover {
  transform: scale(1.1);
}
}





}