.booking {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: #1f0243;

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;

    align-items: flex-start;
    justify-content: space-between;
  }


  &__content {
    min-width: 640px;
  }

  &__subtitle {
    color: #fff;

    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }


  &__title {
    align-self: stretch;
    color: #fff;

    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.54px;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__p-text {
    align-self: stretch;
    color: #fff;

    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__l {
    color: #fff;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    min-width: 640px;


    & label {
      font-size: 0.95rem;
    }



    &__form button {
      display: flex;
      padding: 10px 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 12px;
      border-top: 1.5px solid $button-violet-Dark, #5406b3;
      border-right: 1.5px solid $button-violet-Dark, #5406b3;
      border-bottom: 4px solid $button-violet-Dark, #5406b3;
      border-left: 1.5px solid $button-violet-Dark, #5406b3;
      background: $button-Violet, #6a08e0;
      color: #ffffff;

      font-family: "Open Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      transition-property: background-color transform;
      transition-duration: 250ms;


      &:hover {
        background-color: #5406b3;
        transform: scale(1.1);
      }
    }

  }

  & input[type="text"],
  & input[type="email"] {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

  & input::placeholder {
    color: #aaa;
  }

  &__in {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 16px;
    background: $section-background-color, #1f0243;
  }









}















.name {
  align-self: stretch;
  color: #fff;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.name-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.email {
  align-self: stretch;
  color: #fff;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}



.radio-group label {
  font-weight: normal;
}




.radio-list {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  flex-direction: column;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}