.footer {
  display: flex;
  padding: var(--Section-Padding-padding-section-medium, 80px) var(--Page-Padding-padding-global, 64px);
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: $section-background-color;


  &__logo {
    display: flex;
    width: 84px;
    height: 36px;
    padding: 6.844px 0px 5.695px 0px;
    justify-content: center;
    align-items: center;
  }


  &__text {
    color: $text-color;
    margin-top: 32px;

    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }


  &__address {
    color: $text-color;
    margin-bottom: 24px;

    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    &__:hover {
      animation: colorChange 3s linear infinite;
    }

  }

  &__link {
    display: flex;
    flex-direction: column;
    color: $text-color;


    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__sublist {
    margin-top: 32px;
    display: flex;
    gap: 12px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $text-color;
    transition-property: fill;
    transition-duration: 250ms;

    &__:hover {
      fill: $button-Violet;
    }

  }


  &__box {
    display: flex;
  }





}







.right {
  margin-left: auto;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;


  }

  &__item {
    gap: 16px;
    transition-property: transform;
    transition-duration: 250ms;

    &__:hover {
      transform: scale(1.1);
    }

  }

  &__link {
    color: $text-color;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    transition-property: color;
    transition-duration: 250ms;

    &__:hover {
      color: $button-Violet;
    }
  }
}



.prava {
  border-top: 1px solid $text-color;
  text-align: center;

  &__text {
    margin-top: 42px;
    color: $text-color;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}