.game {
  background: #1f0243;
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  &__dive {
    display: flex;
    padding-bottom: 56px;
    gap: 32px;
  }

  &__title {
    width: 527px;
    flex-shrink: 0;
    color: #fff;

    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.54px;
  }


  &__text {
    flex: 1 0 0;
    color: #fff;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }


  &__list {
    display: flex;
    height: 350px;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #2a0359;
    transition-property: transform;
    transition-duration: 250ms;


    &__item:nth-child(2) {
      animation-name: puling-couples-card;
      animation-duration: 2500ms;
      animation-iteration-count: infitie;



    }


    &__item:nth-child(1) {
      animation-name: puling-card;
      animation-duration: 2500ms;
      animation-iteration-count: infitie;



    }



    &__item:nth-child(3) {
      animation-name: puling-card;
      animation-duration: 2500ms;
      animation-iteration-count: infitie;



    }

    &__item:nth-child(4) {
      animation-name: puling-couples-card;
      animation-duration: 2500ms;
      animation-iteration-count: infitie;




    }

    &__item:nth-child(5) {
      animation-name: puling-card;
      animation-duration: 2500ms;
      animation-iteration-count: infitie;



    }


    &__subtitle {
      align-self: stretch;
      margin-left: 16px;
      color: #fff;

      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }

    &__item-text {
      align-self: stretch;
      margin-left: 16px;
      color: #fff;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

  }

}