.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--section-background-color, #1f0243);
}

.header-info {
  display: flex;
}

.header-div {
  display: flex;
}

.logo-header {
  display: flex;
  width: 84px;
  height: 36px;
  padding: 6.844px 0 5.695px 0;
  justify-content: center;
  align-items: center;
}

.header-list {
  color: var(--text-color, #ffffff);
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: auto;
}

.navigation {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  transition-property: color;
  transition-duration: 250ms;


}

.navigation:hover {
  color: #6a08e0;
}

.header-button {
  display: flex;
  padding: 8px 20px;
  justify-content: right;
  align-items: right;
  gap: 8px;
  border-radius: 12px;
  border-top: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-right: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-bottom: 4px solid var(--button-violet-Dark, #5406b3);
  border-left: 1.5px solid var(--button-violet-Dark, #5406b3);
  background: var(--button-Violet, #6a08e0);
  color: var(--text-color, #ffffff);
  margin-right: 64px;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition-duration: 250ms;
  transition-property: all;
}

.header-button:hover {
  background-color: #5406b3;
  transform: scale(1.09, 1.09);
}

.header-item::after {
  display: block;
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-color: #6a08e0;
  transition-property: opacity;
  transition-duration: 250ms;
opacity: 0;
}


.bottom-menu {
  position: absolute;
  top: 43px;
  left: -40px;
  width: 150px;
  background-color: #6a08e0;
  border: #5406b3 solid;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
}



.header-item {
  position: relative;

}

.header-item:hover .bottom-menu {
  opacity: 1;
}

.header-item:hover::after {

  opacity: 1;
}