.hero {
  background: var(--section-background-color, #1f0243);
  padding-top: 272.5px;
  padding-bottom: 272.5px;
  display: flex;
  height: 900px;
  padding: 64px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-image: linear-gradient(270deg,
      rgba(106, 90, 205, 0.5) 40%,
      rgba(78, 32, 124, 0.5) 60%),
    url("./photo/image.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  align-self: stretch;
  color: var(--text-color, #ffffff);
  max-width: 835px;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
}

.hero-text {
  max-width: 594px;

  color: var(--text-color, #ffffff);
  margin-top: 24px;
  margin-bottom: 32px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero-button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 12px;
  border-top: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-right: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-bottom: 4px solid var(--button-violet-Dark, #5406b3);
  border-left: 1.5px solid var(--button-violet-Dark, #5406b3);
  background: var(--button-Violet, #6a08e0);

  color: var(--text-color, #ffffff);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  animation-name: scale-button;
  animation-duration: 4s;
animation-iteration-count: infinite;
}

.hero-button:hover {
  background-color: #5406b3;
  transform: scale(1.1, 1.1);
}

.hero-button2 {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1.5px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.1));
  border-right: 1.5px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.1));
  border-bottom: 4px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.1));
  border-left: 1.5px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.1));
  color: var(--text-color, #ffffff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  animation-name: scale-button;
  animation-duration: 4s;
animation-iteration-count: infinite;
}

.hero-button2:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-button-div {
  display: flex;
  gap: 16px;
}