.info {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: $section-background-color, #1f0243;
  background-image: url(./photo/s.webp);
  background-repeat: no-repeat;
  background-position: right;
}

.info-title {
  align-self: stretch;
  color: $text-color, #fff;
  text-align: center;

  padding-bottom: 16px;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.48px;
}

.info-text {
  margin-bottom: 80px;

  color: $text-color, #fff;
  text-align: center;

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.info-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

.info-item {
  position: relative;
  display: flex;
  height: 289px;
  min-width: 416px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  overflow: hidden;
  border-radius: 8px;
  border: $Stroke-Border-Width, 1px solid $Color-Scheme-1-Border, rgba(255, 255, 255, 0.2);
  background: $Color-Scheme-1-Foreground, #2a0359;
}


.overlay {
  display: flex;
  top: 0;
  position: absolute;
  border: #2a0359 solid 7px;
  border-radius: 10px;
  opacity: 0;
  width: 416px;
  height: 289px;
  background-color: rgba(106, 90, 205, 0.5);
  backdrop-filter: blur(2px);
  align-items: center;
  justify-content: center;
transition-property: opacity;
  transition-duration: 250ms;
}

.overlay-link {
  color: #FFF;
  border: #5406b3 solid;
  border-radius: 5px;
  height: 40px;
  width: 160px;
  background-color: rgba(41, 3, 112, 0.7);
  font-size: 19px;
  font-weight: 50px;
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: 650ms;
}

.overlay:hover {
  opacity: 1;
}





.info-subtitle {
  align-self: stretch;
  color: $text-color, #fff;
  text-align: center;

  font-size: $Text-Sizes-Heading-5, 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.32px;
}

.info-item-text {
  align-self: stretch;
  color: $text-color, #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.info-icon {
  stroke: #FFF;
  fill: transparent;
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
}
