.price {
  padding-top: 112px;

  background: #1f0243;

  &__title {
    align-self: stretch;

    margin-bottom: 24px;
    color: $text-color, #fff;
    text-align: center;

    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.54px;
  }


  &__text {
    align-self: stretch;
    color: $text-color, #fff;
    text-align: center;
    padding-bottom: 80px;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }


  &__list {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }


  &__item {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #2a0359;


    &__text {
      color: $text-color, #fff;

      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

  }

  &__subtitle-h4 {
    align-self: stretch;
    color: $text-color, #fff;
    text-align: center;
    padding-bottom: 8px;

    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.26px;
  }

  &__subtitle-h3 {
    align-self: stretch;
    color: $text-color, #fff;
    text-align: center;
    padding-bottom: 32px;

    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.64px;
  }


  &__button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: $text-color, #ffffff;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 12px;
    border-top: 1.5px solid #5406b3;
    border-right: 1.5px solid #5406b3;
    border-bottom: 4px solid #5406b3;
    border-left: 1.5px solid #5406b3;
    background: #6a08e0;
    transition-property: background-color transform;
    transition-duration: 250ms;



    &:hover {
      background-color: #5406b3;
      transform: scale(1.1) translate(0px, -4px);




    }
  }


  &__check {
    width: 24px;
    height: 24px;
  }

}



.text-and-check {
  display: flex;
  gap: 16px;
}