.price {
  padding-top: 112px;

  background: #1f0243;

  &__title {
    @include section_title ($text-align: center);
    align-self: stretch;
    margin-bottom: 24px;
  }


  &__text {
    align-self: stretch;
    text-align: center;
    padding-bottom: 80px;
    @extend %section-text;
  }


  &__list {
  @include section-list();
    align-items: flex-start;
    align-self: stretch;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }


  &__item {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #2a0359;

  }

  &__item-text {
    @extend %section-text;
    font-size: 18px;

  }

  &__subtitle-h4 {
    align-self: stretch;
    color: #fff;
    text-align: center;
    padding-bottom: 8px;

    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.26px;
  }

  &__subtitle-h3 {
    align-self: stretch;
    color: $text-color;
    text-align: center;
    padding-bottom: 32px;

    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.64px;
  }


  &__button {
    @include button;
    align-self: stretch;
    border-top: 1.5px solid $button-Violet;
    border-right: 1.5px solid $button-Violet;
    border-bottom: 4px solid $button-Violet;
    border-left: 1.5px solid $button-Violet;
    background: $button-Violet;
    transition-property: background-color transform;
    transition-duration: 250ms;

    &:hover {
      background-color: $button-violet-Dark;
      transform: scale(1.1) translate(0px, -4px);
  
    }

  }


  &__check {
    width: 24px;
    height: 24px;
  }

  &__better {
  display: flex;
  gap: 16px;
}
}

