.reviews {
    display: flex;
    padding-top: 112px;

    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;

    background: var(--section-background-color, #1f0243);

    &__title {
        color: var(--text-color, #fff);
        text-align: center;
        margin-bottom: 24px;

        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.54px;
    }

    &__subtitle {
        color: var(--text-color, #fff);
        text-align: center;
        margin-bottom: 80px;

        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__list {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        max-width: 640px;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        border-radius: 8px;
        border: var(--Stroke-Border-Width, 1px) solid var(--Color-Scheme-1-Border, rgba(255, 255, 255, 0.2));
        background: var(--Color-Scheme-1-Foreground, #2a0359);
    }

    &__text {
        color: var(--text-color, #fff);

        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__name {
        color: var(--text-color, #fff);

        font-family: "Open Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }


}



.stars {
    display: flex;
    width: 116px;
    height: 19px;

    &__svg {
        width: 29px;
        height: 28px;
        fill: white;
        stroke: white;

        &:hover {
            fill: #5406b3;
        }
    }
}